<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TrinitySettings" type="Semiodesk.Trinity.Configuration.TrinitySettings, Semiodesk.Trinity" />
  </configSections>
  <connectionStrings>
    <add name="virt0" providerName="Semiodesk.Trinity" connectionString="provider=virtuoso;host=localhost;port=1117;uid=dba;pw=dba" />
  </connectionStrings>
  <TrinitySettings namespace="Semiodesk.Trinity.Ontologies">
    <OntologySettings>

      <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
      <Ontology Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" Prefix="rdf">
        <FileSource Location="Ontologies\22-rdf-syntax-ns.rdf" />
      </Ontology>

      <!--http://www.w3.org/2000/01/rdf-schema#-->
      <Ontology Uri="http://www.w3.org/2000/01/rdf-schema#" MetadataUri="http://www.w3.org/2000/01/rdf-schema-metadata">
        <FileSource Location="Ontologies\rdfs.trig" />
      </Ontology>

      <!--http://purl.org/dc/terms/-->
      <Ontology Uri="http://purl.org/dc/terms/" Prefix="dcterms">
        <FileSource Location="Ontologies\dcterms.ttl" />
      </Ontology>

      <!--http://purl.org/dc/terms/-->
      <Ontology Uri="http://topbraid.org/schema/" Prefix="so">
        <FileSource Location="Ontologies\schema.ttl" />
      </Ontology>
    </OntologySettings>

    <VirtuosoStoreSettings>
      <RuleSets>
        <RuleSet Uri="urn:semiodesk/ruleset">
            <Graphs>
              <Graph Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" />
              <Graph Uri="http://www.w3.org/2000/01/rdf-schema#" />
              <Graph Uri="http://www.w3.org/2002/07/owl#" />
            </Graphs>
        </RuleSet>
      </RuleSets>
    </VirtuosoStoreSettings>
  </TrinitySettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.3683" newVersion="1.0.9.3683" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

