relre:Debug
relre:svn
syntax: glob
*.orig
*.suo
*.ldb
*.user
*.sdps
*.dll
*.pdb
*.exe
**/obj/*
*.obj
*.tlog
*.db
*.pxa
*.trx
*.tmp_proj
*.userprefs
*StyleCop.Cache
*Tests.mdf
*.psess
*.vsp
*.ldf
*.rej
*/UpgradeLog.htm
bin/*
Build/*
packages/*
api/*
TestResult.xml
tools/*
doc/docfx_project/_site/**
tests/cilg-integration/build/*
tests/nuget-integration/work/*
**/.vs/**
tests/nuget-integration/blueprint/net35/packages.config
_site/**
