<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="TrinitySettings" type="Semiodesk.Trinity.Configuration.TrinitySettings, Semiodesk.Trinity" />
    </configSections>
    <TrinitySettings namespace="NugetIntegrationTest">
        <OntologySettings>
            <Ontology Uri="http://xmlns.com/foaf/0.1/" Prefix="foaf">
              <FileSource Location="Ontologies\foaf.rdf" />
            </Ontology>
        </OntologySettings>
    </TrinitySettings>
  <runtime>
  </runtime>

</configuration>
