<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="Semiodesk.Example" >

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="Ontologies/rdf.ttl"/>
    </ontology>

    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <filesource location="Ontologies/rdfs.ttl"/>
    </ontology>

    <!--http://www.w3.org/2002/07/owl#-->
    <ontology uri="http://www.w3.org/2002/07/owl#" prefix="owl">
      <filesource location="ontologies/owl.n3"/>
    </ontology>

    <!--http://schema.org/-->
    <ontology uri="http://schema.org/" prefix="schema">
      <filesource location="Ontologies/schema.ttl"/>
    </ontology>

  </ontologies>
  <stores>
    <store type="virtuoso">
      <data>
        <rulesets>
          <ruleset uri="urn:example/ruleset">
            <graph uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" />
            <graph uri="http://www.w3.org/2000/01/rdf-schema#" />
            <graph uri="http://www.w3.org/2002/07/owl#" />
            <graph uri="http://schema.org/" />
          </ruleset>
        </rulesets>
      </data>
    </store>
  </stores>
</configuration>