body {
    color: #34393e;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-wrap: break-word;
}

/* HEADINGS */

h1 {
    font-weight: 600;
    font-size: 32px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.8;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.8;
}

h5 {
    font-size: 14px;
    padding: 10px 0px;
}

article h1,
article h2,
article h3,
article h4 {
    margin-top: 35px;
    margin-bottom: 15px;
}

article h4 {
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
}

/* NAVBAR */

.navbar-brand {
    float: none;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 0 !important;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
}

    .navbar-brand:hover,
    .navbar-brand:focus {
        color: white;
    }

    .navbar-brand > img {
        color: #fff;
        display: inline;
    }

.navbar {
    border: none;
    background-color: #984caa;
    z-index: 100;
    box-shadow: none;
    padding: 0 1.5rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 0;
}

.subnav {
    background-color: #e8e8e8;
    padding: 0;
}

.navbar-nav > li > a,
.navbar-text {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.44rem;
    padding: 0.75rem 1.5rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    box-sizing: content-box;
    padding: 1.65rem;
}

    .navbar-nav > li > a:focus,
    .navbar-nav > li > a:hover {
        color: #fff;
        background-color: transparent;
    }

.navbar-nav > .active > a,
.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
    color: #fff;
    border-bottom: 3px solid white;
}

.navbar-form .form-control {
    border: none;
    border-radius: 20px;
    margin-left: 20px;
}

/* SIDEBAR */

.toc .level1 > li {
    font-weight: 400;
}

.toc .nav > li > a {
    color: #34393e;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.sidefilter {
    background-color: #fff;
    border-left: none;
    border-right: none;
}

.toc-filter {
    padding: 10px;
    margin: 0;
}

    .toc-filter > input {
        border: 2px solid #ddd;
        border-radius: 20px;
    }

    .toc-filter > .filter-icon {
        display: none;
    }

.sidetoc > .toc {
    background-color: #fff;
    overflow-x: hidden;
}

.sidetoc {
    background-color: #fff;
    border: none;
}

/* ALERTS */

.alert {
    padding: 0px 0px 5px 0px;
    color: inherit;
    background-color: inherit;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

    .alert > p {
        margin-bottom: 0;
        padding: 5px 10px;
    }

    .alert > ul {
        margin-bottom: 0;
        padding: 5px 40px;
    }

    .alert > h5 {
        padding: 10px 15px;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 4px 4px 0 0;
    }

.alert-info > h5 {
    color: #1976d2;
    border-bottom: 4px solid #1976d2;
    background-color: #e3f2fd;
}

.alert-warning > h5 {
    color: #f57f17;
    border-bottom: 4px solid #f57f17;
    background-color: #fff3e0;
}

.alert-danger > h5 {
    color: #d32f2f;
    border-bottom: 4px solid #d32f2f;
    background-color: #ffebee;
}

/* CODE HIGHLIGHT */
pre {
    padding: 9.5px;
    margin: 1.5em 0;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fffaef;
    border: 1px solid #fff2d5;
    border-radius: 0;
}

/* Boostrap 4 Classes */
.w-100 {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-row-reverse {
    flex-direction: row-reverse !important;
}

.align-items-center {
    align-items: center !important;
}
