<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="Semiodesk.Trinity.Test.GraphDB" >
    <ontology uri="http://xmlns.com/foaf/0.1/" prefix="foaf">
      <filesource location="ontologies/foaf.rdf"/>
    </ontology>
    <ontology uri="http://www.semanticdesktop.org/ontologies/2007/03/22/nco#" prefix="nco">
      <filesource location="ontologies/nco.ttl"/>
    </ontology>
  </ontologies>
</configuration>