<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="TrinityExample" >

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="Ontologies/rdf.ttl"/>
    </ontology>

    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <filesource location="Ontologies/rdfs.ttl"/>
    </ontology>

    <ontology uri="http://schema.org/" prefix="schema">
      <filesource location="Ontologies/schema.ttl"/>
    </ontology>
  </ontologies>
</configuration>