<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.2.2" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="TinyVirtuoso" version="0.3.25" targetFramework="net35" />
  <package id="TinyVirtuoso.win" version="7.2.1" targetFramework="net35" />
</packages>