<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net35" />
  <package id="NUnit" version="3.8.1" targetFramework="net35" />
  <package id="TinyVirtuoso" version="0.3.29" targetFramework="net35" />
  <package id="TinyVirtuoso.win" version="7.2.1" targetFramework="net35" />
</packages>