<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.3683" newVersion="1.0.9.3683" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>