<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="2.0.0-pre0010" targetFramework="net46" />
  <package id="dotNetRDF.Data.Virtuoso" version="2.0.0-pre0010" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net46" />
  <package id="OpenLink.Data.Virtuoso" version="7.20.3214.1" targetFramework="net46" />
  <package id="VDS.Common" version="1.9.0-pre0001" targetFramework="net46" />
</packages>