<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="TrinitySettings" type="Semiodesk.Trinity.Configuration.TrinitySettings, Semiodesk.Trinity" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <TrinitySettings namespace="Semiodesk.Trinity.Test">
        <OntologySettings>
            <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
            <Ontology Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" Prefix="rdf">
                <FileSource Location="Ontologies\rdf.rdf" />
            </Ontology>
            <!--http://www.w3.org/2000/01/rdf-schema#-->
            <Ontology Uri="http://www.w3.org/2000/01/rdf-schema#" Prefix="rdfs">
                <FileSource Location="Ontologies\rdfs.n3" />
            </Ontology>
            <!--http://www.w3.org/2002/07/owl#-->
            <Ontology Uri="http://www.w3.org/2002/07/owl#" Prefix="owl">
                <FileSource Location="Ontologies\owl.n3" />
            </Ontology>
            <Ontology Uri="http://xmlns.com/foaf/0.1/" Prefix="foaf">
              <FileSource Location="Ontologies\foaf.rdf" />
            </Ontology>
          <Ontology Uri="http://www.semanticdesktop.org/ontologies/2007/03/22/nco#" Prefix="nco">
            <FileSource Location="Ontologies\nco.trig" />
          </Ontology>
          <Ontology Uri="http://purl.org/dc/elements/1.1/" Prefix="dces">
            <FileSource Location="Ontologies\dces.ttl" />
          </Ontology>
        </OntologySettings>
        <VirtuosoStoreSettings>
            <RuleSets>
                <RuleSet Uri="urn:semiodesk/test/ruleset">
                    <Graphs>
                        <Graph Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" />
                        <Graph Uri="http://www.w3.org/2000/01/rdf-schema#" />
                        <Graph Uri="http://www.w3.org/2002/07/owl#" />
                        <Graph Uri="http://xmlns.com/foaf/0.1/" />
                        <Graph Uri="http://www.semanticdesktop.org/ontologies/2007/03/22/nco#" />
                    </Graphs>
                </RuleSet>
            </RuleSets>
        </VirtuosoStoreSettings>
    </TrinitySettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.9.3683" newVersion="1.0.9.3683" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="INIFileParser" publicKeyToken="79af7b307b65cf3c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
