<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="Semiodesk.Trinity.Test">
    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf" meta="">
      <filesource location="Ontologies\rdf.rdf"/>
    </ontology>
    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <FileSource location="Ontologies\rdfs.n3"/>
    </ontology>
    <!--http://www.w3.org/2002/07/owl#-->
    <ontology uri="http://www.w3.org/2002/07/owl#" prefix="owl">
      <FileSource location="Ontologies\owl.n3"/>
    </ontology>
    <ontology uri="http://xmlns.com/foaf/0.1/" prefix="foaf">
      <FileSource location="Ontologies\space test ontology.rdf"/>
    </ontology>
  </ontologies>

  <stores>
    <store type="virtuoso">
      <rulesets>
        <ruleset uri="urn:semiodesk/test/ruleset">
          <graphs>
            <graph Uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
            <graph Uri="http://www.w3.org/2000/01/rdf-schema#"/>
            <graph Uri="http://www.w3.org/2002/07/owl#"/>
            <graph Uri="http://xmlns.com/foaf/0.1/"/>
          </graphs>
        </ruleset>
      </rulesets>
    </store>
  </stores>
</configuration>