<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="Semiodesk.Trinity.Test" >

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="Ontologies/rdf.rdf"/>
    </ontology>

    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <filesource location="Ontologies/rdfs.n3"/>
    </ontology>

    <!--http://www.w3.org/2002/07/owl#-->
    <ontology uri="http://www.w3.org/2002/07/owl#" prefix="owl">
      <filesource location="Ontologies/owl.n3"/>
    </ontology>

    <!-- websources will be supported once we have finished the VisualStudio plugin.
    <ontology uri="http://semioesk.com/ontologies/tst#" prefix="tst" version="0.0.1">
      <websource location="http://semioesk.com/ontologies/tst.ttl"/>
    </ontology>
    -->

    <ontology uri="http://xmlns.com/foaf/0.1/" prefix="foaf">
      <filesource location="Ontologies/space test ontology.rdf"/>
    </ontology>

    <!-- <ontology uri="http://purl.org/dc/elements/1.1/" prefix="dces" >
      <filesource location="Ontologies/dces.ttl"/>
    </ontology>-->
  </ontologies>

  <stores>
    <store type="virtuoso">
      <data>
        <rulesets>
          <ruleset uri="urn:semiodesk/test/ruleset">
            <graph uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
            <graph uri="http://www.w3.org/2000/01/rdf-schema#"/>
            <graph uri="http://www.w3.org/2002/07/owl#"/>
            <graph uri="http://xmlns.com/foaf/0.1/"/>
          </ruleset>
        </rulesets>
      </data>
    </store>
  </stores>
</configuration>