<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="net46" />
  <package id="NUnit" version="3.9.0" targetFramework="net46" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net46" />
  <package id="TinyVirtuoso" version="0.3.29" targetFramework="net46" />
  <package id="TinyVirtuoso.win" version="7.2.1" targetFramework="net40" />
</packages>